@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4"><b>Хуй соси, шмара</b></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <h2> ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / </h2>
</div>