@{
    ViewData["Title"] = "Homepage";
}

<style xmlns="http://www.w3.org/1999/html">
    .partners-section {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        flex-wrap: wrap;
    }

    .partners-text {
        font-size: 2rem;
        font-weight: 600;
        color: #000000;
        margin: 0 10px;
    }
    
</style>
    <div class="hero-section position-relative">
        <div class="hero-section position-relative z-2 hero-text">
            <h1 class="display-1" >
                <b class="">Modern electronics — at<br/>
                    the best prices</b>
            </h1>
            <h4>Smartphones, tablets, laptops, and components <br/> with delivery across Singapore.</h4>
            <a href="#" class="btn btn-dark btn-lg mt-3" style="background: black">Browse Catalog</a>
        </div>
        <img class="home-img hero-image position-absolute z-1" src="images/image 3.png" alt="Dragon TV">
    </div>

<div class="partners-section">
    <span class="partners-text">Sony</span>
    <span class="partners-text">Microsoft</span>
    <span class="partners-text">Nintendo</span>
    <span class="partners-text">Apple</span>
    <span class="partners-text">Samsung</span>
    <span class="partners-text">Huawei</span>
    <span class="partners-text">Xiaomi</span>
    <span class="partners-text">Panasonic</span>
</div>



