@{
    ViewData["Title"] = "Homepage";
}

<style xmlns="http://www.w3.org/1999/html">
    * {
        margin: 0px;
    }
    
</style>

<h1> <b> Modern electronics  —  at <br> the best prices </b> </h1>

<h3>Smartphones, tablets, laptops, and components with delivery across Singapore.</h3>


<img src="images/image 3.png" alt="Dragon TV" width="1101" height="798">


<h2> SONY &emsp; Microsoft &emsp; APPLE &emsp; Panasonic &emsp; NVIDIA &emsp; HUAWEI &emsp; BOSCH &emsp; SAMSUNG</h2>


@* *@
@* <div class="text-center"> *@
@*     <h1 class="display-4"><b>Хуй соси, шмара</b></h1> *@
@*     <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
@*      *@
@*     <h2> ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / ГЕЙ СЕКС / </h2> *@
@* </div> *@