@model Techno_Home.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="login-wrapper">
    <div>
        <div class="login-box">
            
            <h2>Reset Password</h2>

            <form asp-action="ResetPassword" method="post">
                <div class="form-group">
                    @* <input placeholder="Login" asp-for="UserName" class="form-control" /> *@
                    @* <span asp-validation-for="UserName"></span> *@
                    <input placeholder="Email" asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group mt-3">
                    <input placeholder="New Password" asp-for="NewPassword" type="password" class="form-control"/>
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="form-group mt-3">
                    <input placeholder="Confirm Password" asp-for="ConfirmPassword" type="password" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="d-grid gap-2 col-12 mx-auto mt-3">
                    <button type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}