@using Microsoft.AspNetCore.Http
@{
    var isAdmin = Context.Session.GetString("isAdmin");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Techno Home</title> 
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Techno_Home.styles.css" asp-append-version="true"/>
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 sticky-navbar">
        <div class="container-fluid px-4">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Techno Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex w-100 justify-content-xl-center align-items-center" style="color: black">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Catalog">Catalog</a>
                    </li>
                    <li class="nav-item"> 
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a>
                    </li>
                    @if (isAdmin == "true")
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Dashboard</a>
                        </li>
                    }
                    <li class="nav-item">
                        @if (Context.Session.GetString("UserName") != null)
                        {
                            @* <span class="d-flex" style="color: red">Hello, @Context.Session.GetString("UserName")!</span> *@
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                        }
                    </li>
                        <a asp-controller="Cart" asp-action="Index">
                            <img src="~/images/Shopping cart.png" alt="Cart" style="height: 35px; cursor: pointer; padding-top: 5px">
                        </a>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid px-4">
    <main role="main" class="flex-fill">
        @RenderBody()
    </main>
</div>
<footer class="footer border-top mt-auto">
    <section class="section-top flex-wrap align-items-center px-5 py-4">
        <div class="me-5 d-flex">
            <h1 class="display-2"> SIGN UP & GET 5% OFF. </h1>
        </div>
        <form class="d-flex align-items-center gap-2">
            <div class="input-group">
                <span class="input-group-text bg-white">
                    <i class="bi bi-envelope"></i>
                </span>
                <input type="email" class="form-control" placeholder="Enter your email address"/>
                <button class="btn btn-dark px-4">Subscribe</button>
            </div>
        </form>
    </section>
    <div class="px-5 py-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-2 mb-3">
                    <h5 style="color: white">TechnoHome</h5>      
                </div>
                <div class="col-md-2 mb-3">
                    <ul class="list-unstyled">
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About Us</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacts">Contacts</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3">
                    <ul class="list-unstyled">
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Phone</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Laptop</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Mouse</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Computer</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Headphones</a></li>
                    </ul>
                </div>
                <div class="col-md-2 mb-3">
                    <ul class="list-unstyled">
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">TV</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Smart Watch</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Keyboards</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Games</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="" asp-action="">Consoles</a></li>
                    </ul>
                </div>
                <div class="col-md-3 offset-md-0">
                    <ul class="list-unstyled">
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                        @if (isAdmin == "true")
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Products" asp-action="Index">Dashboard</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>    
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>